.container{
  width: 600px !important;
  margin: 20px;
}

.content {
  margin: 20px 0;
  background-color:	#696969;
  color: black;
  padding: 10px 25px;
  text-align: center;

}

.preview {
  max-width: 200px;
}